@using WebApplication_SampleApp.Models.Entities
@model UserViewModel
@{
	ViewData["Title"] = "Create User";
}

<div class="row p-4 mb-4">
	<div class="col">
		<h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
	</div>
</div>
<div class="row p-4 mb-4">
	<div class="col-4">
		<div asp-validation-summary="All" class="text-danger small"></div>
		<form method="post" asp-action="Create">
			<div class="form-group">
				<label asp-for="Fullname"> <b>Fullname</b></label>
				<input asp-for="Fullname" class="form-control" placeholder="@NameData.GetFullName()">
			</div>
			<div class="form-group">
				<label asp-for="Username"><b>Username</b></label>
				<input asp-for="Username" class="form-control" placeholder="@NameData.GetFirstName()" />
			</div>
			<div class="form-group">
				<label asp-for="Email"><b>Email Address</b></label>
				<input asp-for="Email" class="form-control"  placeholder="@NetworkData.GetEmail()" />
			</div>
			<div class="form-group">
				<label asp-for="Password"><b>Password</b></label>
				<input type="password" asp-for="Password" class="form-control" placeholder="@TextData.GetNumeric(6)" />
			</div>
			<div class="form-group">
				<label asp-for="RePassword"><b>Repassword</b></label>
				<input type="password" asp-for="RePassword" class="form-control"  placeholder="@TextData.GetNumeric(6)" />
			</div>

			<div class="form-group form-check mb-3 mt-2">
				<input class="form-check-input" asp-for="IsActive">
				<label class="form-check-label" asp-for="IsActive"> Active</label>
			</div>
			<div class="form-group form-check mb-3mt-2">
				<input class="form-check-input" asp-for="IsAdmin">
				<label class="form-check-label" asp-for="IsAdmin"> Admin</label>
			</div>



			<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Submit</button>
			<a class="btn btn-secondary " asp-action="Index"><i class="fa fa-arrow-left mr-2S"></i> Turn to List!</a>

		</form>
	</div>
</div>



<th>Full Name</th>
<th>Username</th>
<th>Email Adress</th>
<th>Active</th>
<th>Admin</th>
<th>Creater</th>
<th>Created Date</th>
<th>Updater</th>
<th>Updated Date</th>